@model IList<Course>

@{
    ViewData["Title"] = "Course List";
}

<a asp-controller="Courses" asp-action="Create" class="btn btn-primary mt-2 mb-2">Add a New Course</a>

<table class="table table-responsive table-borderless table-striped">

    <thead class="bg-primary text-white">
        <tr>
            <th>Title</th>
            <th>Credit</th>
            <th>Instructor</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Title</td>
                <td>@course.Credits</td>
                <td>@course.Instructor</td>
                <td>
                    <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">View</a>
                </td>
            </tr>
        }
    </tbody>

</table>
